.activeTab {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -1.1rem;
    width: 125%;
    background-color: #fff;
    height: 4px;
    left: -10%;
    right: 0px;
    margin: 0 auto;
  }
}

.textInput {
  border: 1px solid rgba(25, 25, 25, 0.32);
  border-radius: 5px;
  display: block;
  padding: 15px 10px;
  font-size: 17px;
  font-weight: 400;
  color: #000;
  position: relative;
  width: 100%;
  outline: none;

  &:focus {
    outline: none;
    border: 1px solid rgba(25, 25, 25, 0.32);

  }
}

.passIcon {
  position: absolute;
  right: 20px;
  top: 25%;
  bottom: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.32);
}

.customFileInput {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;

}

.customFileLabel {
  border: 1px solid rgba(25, 25, 25, 0.32);
  border-radius: 5px;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;

  div {
    border: none;
    outline: none;
    background-color: #E7E7E7;
    padding: 5px 8px;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 10px;
    margin-top: 5px;
  }

  span {
    color: rgba(0, 0, 0, 0.87);
    margin: 0 10px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
  }
}

.profileImg {
  width: 150px;
  height: 150px;
  margin-right: 15px;
}


.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 22px;

  tr {
    margin-bottom: 5px;
  }

  td {
    color: #25213B;
    text-transform: capitalize;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #D9D5EC;


    p {
      color: #25213B;
    }
  }
}

.propTypeChip {
  background-color: #F2F0F9;
  color: #6E6893;
  border-radius: 25px;
  padding: 2px 5px;
  position: relative;
  text-align: center;
  font-size: 18px;
  max-width: 100%;
  margin: 5px auto;

  &::before {
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #6E6893;
    left: 10px;
    top: 37%;
    z-index: 999;
  }

}