.tradeMark_section {
  position: relative;

  &::after {
    position: absolute;
    content: " ";
    width: 20%;
    height: 2px;
    background-color: var(--primary-light-color);
    bottom: -1rem;
    left: 0;
    right: 0;
    margin: 5px auto;
  }
}

.meetingFooterSection {
  @apply flex justify-center bg-gray-600;
}

.heroImg {
  position: relative;

  &::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-image:
      linear-gradient(
        to bottom right,
        rgba(240, 100, 150, 0.2) 60%,
        rgba(140, 200, 208, 0.1) 40%
      );
    background-color: #4158d0;
    // background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  }
}

.meetingsContainer {
  position: absolute;
  bottom: 6rem;
  left: 3rem;
  width: 50%;
  background: #fff;
  padding: 10px 15px;

  h3 {
    color: var(--primary-dark-color);
    font-size: 1.5rem;
    font-weight: 600;
  }

  div {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;

    &.singleMeeting:not(:last-of-type) {
      border-right: 1px solid var(--gray-light-color);
    }

    @media screen and (max-width: 767px) {
      border-right: none !important;

      &.singleMeeting:nth-of-type(odd) {
        border-right: 1px solid var(--gray-light-color) !important;
      }
    }

    h4 {
      font-weight: 600;
      color: var(--primary-dark-color);
      text-align: center;
    }

    h5 {
      font-weight: 400;
      color: var(--primary-light-color);
      text-align: center;
    }

    button {
      width: auto;
      margin: 2rem 5px 2rem 0;
    }
  }

  @media screen and (max-width: 1023px) {
    position: relative;
    bottom: auto;
    left: auto;
    width: 100%;

    h3 {
      text-align: center;
    }

    button {
      width: 90%;
      margin: 2rem auto;
    }
  }
}
